.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-tertiary);
}

.navigation-container img {
    width: 15em;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3em;
    justify-content: flex-end;
    /* flex-basis: 100%; of auto  werkt niet om box breder te krijgen,dus met width opgelost */
    width: 90vw;
    margin: 2em;
    align-items: center;
}

.nav-ul li {
    font-size: 1.5em;
}

.navbar ul a.active {
    color: white;
}


.active-menu-link {
    color: var(--color-primary);

}

.default-menu-link {
   color: #fff;
}